@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.mainnav{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  position:sticky !important;
  top:0px !important;
}

.imgitem {
    width: 100% !important;

  height: 30vh !important;
    object-fit:  contain !important;
}

  .user-avatar .skeleton-block {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

 .user-name .skeleton-text{
  width: 120px;
    min-height: 420px;
    border-radius: 50%;
 }


 .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
}

.Card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(0.9);
}

.Card:hover{
  transition: 0.5s;
  transform: scale(1.0);
}


.links{
  text-decoration:none;
  color:black;
  font-weight:bold  

}

.links:hover{
 color:rgb(90, 88, 88)
}

.links span{
  color:black;
  font-weight:bold
}

.drop{
  z-index: 1000 !important;

}
.bold-title {
  font-weight: bold;
}


.rowcard:hover{
  transition: 0.5s;
 transform: translate(1.1) !important;
}

.mainnav {
  position: sticky !important;
  top: 0px !important;
  z-index: 100;
}






